@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #252525;
  --lingrad1: #12C2E9;
  --lingrad2: #C471ED;
  --lingrad3: #F64F59;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #252525
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --background: #0b0b0b;
    --foreground: #f5f5f5;
    --card: #ffffff;
    --card-foreground: #0b0b0b;
    --popover: #ffffff;
    --popover-foreground: #0b0b0b;
    --primary: #1a1a1a;
    --primary-foreground: #d2eaff;
    --secondary: #f5f5f5;
    --secondary-foreground: #1a1a1a;
    --muted: #f5f5f5;
    --muted-foreground: #6e6e6e;
    --accent: #f5f5f5;
    --accent-foreground: #1a1a1a;
    --destructive: #ff9999;
    --destructive-foreground: #d2eaff;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #0b0b0b;
    --chart-1: #f99b9b;
    --chart-2: #6bbf9b;
    --chart-3: #4c5f3d;
    --chart-4: #a8c8a8;
    --chart-5: #d9d9d9;
    --radius: 0.5rem;
  }
  .dark {
    --background: #1c1c1c;
    --foreground: #d2eaff;
    --card: #1c1c1c;
    --card-foreground: #d2eaff;
    --popover: #1c1c1c;
    --popover-foreground: #d2eaff;
    --primary: #d2eaff;
    --primary-foreground: #1c1c1c;
    --secondary: #2c2c2c;
    --secondary-foreground: #d2eaff;
    --muted: #2c2c2c;
    --muted-foreground: #a5a5a5;
    --accent: #2c2c2c;
    --accent-foreground: #d2eaff;
    --destructive: #9f1a1a;
    --destructive-foreground: #d2eaff;
    --border: #2c2c2c;
    --input: #2c2c2c;
    --ring: #d8d8d8;
    --chart-1: #007fff;
    --chart-2: #00996b;
    --chart-3: #cc9933;
    --chart-4: #b366ff;
    --chart-5: #ff3399;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
